.vanillajs-carousel-bullets {
  width: 100%;
  display: block;
  text-align: center;
}
.vanillajs-carousel-bullets a {
  width: 10px;
  height: 10px;
  margin: 2px;
  background: rgba(0, 0, 0, 0.3);
  transition: all linear 0.3s;
  border: 2px solid #000;
  display: inline-block;
  cursor: pointer;
}
.vanillajs-carousel-bullets a:hover, .vanillajs-carousel-bullets a.active {
  background: #fff;
}

.vanillajs-carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
  transition: all linear 0.3s;
}
.vanillajs-carousel .item {
  width: 100%;
  height: 500px;
  display: block;
}
.vanillajs-carousel .vanillajs-carousel-item {
  width: 100%;
  height: 500px;
  display: block;
  margin: auto;
  position: relative;
}
.vanillajs-carousel .vanillajs-carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vanillajs-carousel .vanillajs-carousel-item .vanillajs-carousel-item-caption {
  position: absolute;
  padding: 30px;
  top: 20px;
  box-sizing: border-box;
  width: 250px;
  right: -250px;
  font-size: 17px;
  font-weight: 300;
}
.vanillajs-carousel .vanillajs-carousel-item .vanillajs-carousel-item-caption .vanillajs-carousel-item-caption-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}